/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */



body {
	margin: initial !important;
	
}
img{
	display: block;
    margin: auto;
}


#sidebar-wrapper{
	display: inline-block;
	z-index: 1;
	position: relative;
	width: 20%;
	height: 663px;
	overflow-y: hidden;
	background: #2C3E50;
	border: 1px #000000;
	opacity: 0.9;
	vertical-align: bottom;	
}

#copyright{
	position: absolute;
	padding-left: 10px;
   	bottom: 0;
}


/* Main content */
#content-wrap{
	display: inline-block;
	width: 80%;
	height: 663px;
	position: absolute;
	
}




/* Side bar styling */
.sidebar-nav{
	padding-left: 5px;
	padding-top: 20px;
	list-style: none;	
}

.sidebar-nav li{
	text-align:left;
	line-height: 40px;	
}

.sidebar-nav li a{
	display: block;
	padding-top:10px;
	font-size: large;
	font-family: serif;
	color: #ddd;
}

.sidebar-nav li a:hover{
	background: #16A085;	
	text-decoration: none;
	border-left: 10px solid #004040;
}

#legend-img
{
position: absolute;
z-index: 10;
top: 30px;
right:0;
}



#left-panel{
	padding-top: 50px;
	margin-right: 10px;
	background: #2C3E50;
	opacity:0.9;
	overflow-y:hidden;
	border: 2px solid black;
    border-style:dotted solid double dashed;
}

#graph-menu-txt{
	font-weight: bold;
	font-family: serif;
	font-size:x-large;
}


#btnLine{
	background: #16A085;
	opacity: 0.6;
	color: #FFFFFF;
	width: 120px;
	height: 50px;
	border: 2px solid;
	border-radius: 10px;
	
}

#btnLine:hover{
	background: #16A085;	
	opacity:0.3;
}

.gwt-ListBox{
	width: 140px;
	height: 50px;
	color: white;
	opacity: 0.6;
	background-color: #16A085;
}

.gwt-ListBox:hover{
	background: #16A085;	
	opacity:0.3;
}

.google-visualization-controls-label{
	display: inline-block;
	vertical-align: top;
	padding: 15px; !important
}


/* Spacing between left pane and date/month selection */
#gwt-uid-1{
	margin-left:5p; !important;
	padding-left:5px; !important
}








