/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */




img{
	display: block;
    margin: auto;
}


#sidebar-wrapper{
	display: inline-block;
	z-index: 1;
	position: relative;
	width: 20%;
	height: 620px;
	overflow-y: hidden;
	background: #2C3E50;
	border: 1px #000000;
	opacity: 0.9;
	vertical-align: bottom;	
}

#copyright{
	position: absolute;
	padding-left: 10px;
   	bottom: 0;
}


/* Main content */
#content-wrap{
	display: inline-block;
	width: 80%;
	height: 620px;
	position: absolute;
	
}




/* Side bar styling */
.sidebar-nav{
	padding-left: 5px;
	padding-top: 20px;
	list-style: none;	
}

.sidebar-nav li{
	text-align:left;
	line-height: 40px;	
}

.sidebar-nav li a{
	display: block;
	padding-top:10px;
	font-size: large;
	font-family: serif;
	color: #ddd;
}

.sidebar-nav li a:hover{
	background: #16A085;	
	text-decoration: none;
	border-left: 10px solid #004040;
}


